.carItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carButtons {
    margin: 10px;
    width:100px;
    height:100px;
    display:grid;
    grid-template-columns: 40px 40px;
    grid-row: auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.firstRow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.secondRow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.carTrack{
    width: 1000px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .carButtons{
        margin: 2px;
        margin-top: 10px;
    }
}


