.pagination {
    display: flex;
    width: 150px;
}
.switchPage{
    color: black;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background: transparent;
    max-width: 50px;
    text-align: center;
}
.switchPage:hover{
    background-color: teal;;

}
.pageNumber{
    color: black;
    font-size: 20px ;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: transparent;
    padding: 20px;
    text-align: center;
}