.things{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.carName{
    width: 110px;
    text-align: center;
}
.winner__item{
    margin-bottom: 20px;
}