
.raceContent{
    max-height: 80px;
    height: 100%;
    align-self: center;
    z-index: 3;
    width: 80%;
    border-top: red solid 2px ;
    border-bottom: red solid 2px;
    padding: 35px 15px;
    position: relative;
}
.horLine{
    height: 1px;
    border: #fff 2px solid;
    position: absolute; /* Change this */
    top: 50%; /* Add this */
    left: 0; /* Add this */
    right: 0; /* Add this */
    transform: translateY(-50%); /* Add this */
    z-index: -10;
}
.carName{
    position: absolute; /* Change this */
    top: 50%; /* Add this */
    left: 50%; /* Add this */
    transform: translate(-50%, -50%); /* Add this */
    text-align: center; /* Add this */
    z-index: 1000;
}




/*@media all and (min-width: 1024px) and (max-width: 1280px) {*/
/*    .raceBg {*/
/*        width: 95%;*/
/*        height: 75px;*/
/*    }*/
/*}*/

/*@media all and (min-width: 768px) and (max-width: 1024px) {*/
/*    .raceBg {*/
/*        width: 95%;*/
/*        height: 70px;*/
/*    }*/
/*}*/

/*@media all and (min-width: 480px) and (max-width: 768px) {*/
/*    .raceBg{*/
/*        width: 95%;*/
/*        height: 60px;*/
/*    }*/
/*}*/
