
.raceContent{
    max-height: 80px;
    height: 100%;
    align-self: center;
    z-index: 3;
    width: 80%;
    border-top: red solid 2px ;
    border-bottom: red solid 2px;
    padding: 35px 15px;
    position: relative;
}
.horLine{
    height: 1px;
    border: #fff 2px solid;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: -10;
}
.carName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    font-size: 30px;
    font-weight: bold;
    color: purple;
}




/*@media all and (min-width: 1024px) and (max-width: 1280px) {*/
/*    .raceBg {*/
/*        width: 95%;*/
/*        height: 75px;*/
/*    }*/
/*}*/

/*@media all and (min-width: 768px) and (max-width: 1024px) {*/
/*    .raceBg {*/
/*        width: 95%;*/
/*        height: 70px;*/
/*    }*/
/*}*/

/*@media all and (min-width: 480px) and (max-width: 768px) {*/
/*    .raceBg{*/
/*        width: 95%;*/
/*        height: 60px;*/
/*    }*/
/*}*/
